<!DOCTYPE html>
<html>
<head>
    <title>Library Web App</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>Welcome to the Library Web App</h1>
    <a href="/signin">Sign In</a>
</body>
</html>